<% import Cherry.Theme.Helpers %><article>
<h1><%= h(@doc.meta.title) %></h1>
<p><time datetime="<%= Date.to_iso8601(@doc.meta.date) %>"><%= format_date(@doc.meta.date) %></time></p>
<%= if @doc.meta.tags != [] do %><ul class="tags">
<%= for tag <- @doc.meta.tags do %><li><a href="/blog/tags/<%= tag_slug(tag) %>/"><%= h(tag) %></a></li>
<% end %></ul>
<% end %><%= @doc.html %>
</article>
